* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}
@font-face {
  body {
    font-family: fonts;
    src: url(../fonts/Poppins-Black.ttf);
  }
}

main {
  position: relative;
}
@media screen and (max-width: 575px) {
  main .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
main .wrapper .head {
  background-image: linear-gradient(to right, rgb(247, 30, 6), rgb(239, 9, 103));
  height: 75px;
  display: flex;
  justify-content: space-between;
}
main .wrapper .head > .logo {
  height: 100%;
  margin: 0;
  padding: 0;
}
main .wrapper .head > .logo > img {
  height: 100%;
  border-radius: 50%;
}
main .wrapper .head > .list .listIcon {
  font-weight: bold;
  font-size: 4vw;
  cursor: pointer;
}
main .wrapper .head > .list .listIcon > .submenu {
  position: absolute;
  top: 75px;
  left: 0px;
  border-top: 2px solid white;
  visibility: hidden;
  background-color: #616161;
}
main .wrapper .head > .list .listIcon > .submenu > li {
  list-style-type: none;
}
main .wrapper .head > .list .listIcon > .submenu > li:hover {
  background-color: rgba(245, 245, 245, 0.442);
  border-radius: 20px;
  visibility: visible;
}
main .wrapper .head > .list .listIcon > .submenu > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-family: fonts, sans-serif;
  font-size: 16px;
}
main .wrapper .head > .list .listIcon:focus > .submenu {
  visibility: visible;
  display: block;
}
main .wrapper .head > .list .listIcon > span {
  line-height: 60px;
  display: flex;
}
main .wrapper .head > .list .listIcon > span > i {
  font-size: 10vw;
}
main .wrapper .head > .list > .menu > ul > li {
  list-style-type: none;
  display: flex;
}
main .wrapper .head > .list > .menu > ul > li:nth-of-type(5) {
  width: 20%;
}
main .wrapper .head > .list > .menu > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: fonts, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  transition: 0.4s;
}
main .wrapper .head > .list > .menu > ul > li > a:hover {
  color: black;
}
main .btnsLink {
  position: absolute;
  right: 3%;
}
main .btnsLink > a {
  width: 10px;
  height: 10px;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  z-index: 777;
  overflow: hidden;
}
main .btnsLink > a:focus {
  background-color: #f9004d;
}
main .btnsLink > a:nth-of-type(1) {
  margin-top: 130px;
}
main .btnsLink > a > button {
  display: none;
}
main .btnsLink > a:nth-of-type(2) {
  margin-top: 160px;
}
main .btnsLink > a > button {
  display: none;
}
main .btnsLink > a:nth-of-type(3) {
  margin-top: 190px;
}
main .btnsLink > a > button {
  display: none;
}
main .btnsLink > a:nth-of-type(4) {
  margin-top: 220px;
}
main .btnsLink > a > button {
  display: none;
}
main .btnsLink > a:nth-of-type(5) {
  margin-top: 250px;
}
main .btnsLink > a > button {
  display: none;
}
main .home {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
}
main .home > figure {
  position: relative;
  display: flex;
}
main .home > figure > img {
  -o-object-fit: contain;
     object-fit: contain;
}
main .home > figure > div:nth-of-type(1) {
  width: 200px;
  height: 220px;
  background-color: rgb(199, 73, 94);
  -webkit-clip-path: circle(150px at 0 0);
          clip-path: circle(150px at 0 0);
  opacity: 0;
  -webkit-animation: mov1 linear alternate infinite 1s;
          animation: mov1 linear alternate infinite 1s;
}
@-webkit-keyframes mov1 {
  to {
    opacity: 1;
  }
}
@keyframes mov1 {
  to {
    opacity: 1;
  }
}
main .home > figure > div:nth-of-type(2) {
  content: "";
  display: flex;
  position: absolute;
  top: -100px;
  left: -90px;
  width: 300px;
  height: 300px;
  -webkit-clip-path: circle(150px at center);
          clip-path: circle(150px at center);
  background-color: rgba(240, 125, 135, 0.683);
  opacity: 0;
  -webkit-animation: mov2 alternate infinite 1s;
          animation: mov2 alternate infinite 1s;
}
@-webkit-keyframes mov2 {
  to {
    opacity: 1;
  }
}
@keyframes mov2 {
  to {
    opacity: 1;
  }
}
main .home > figure > div:nth-of-type(3) {
  content: "";
  display: flex;
  position: absolute;
  top: -200px;
  left: -200px;
  width: 500px;
  height: 500px;
  -webkit-clip-path: circle(250px at center);
          clip-path: circle(250px at center);
  background-color: rgba(237, 183, 188, 0.537);
  opacity: 0;
  -webkit-animation: mov1 linear alternate infinite 1s;
          animation: mov1 linear alternate infinite 1s;
}
@-webkit-keyframes mov3 {
  to {
    opacity: 1;
  }
}
@keyframes mov3 {
  to {
    opacity: 1;
  }
}
main .home .description > * {
  font-family: fonts, sans-serif;
}
main .home .description > h1 {
  font-size: 32px;
  font-weight: 800;
  color: #f9004d;
  text-transform: capitalize;
  width: 0;
  overflow: hidden;
  -webkit-animation: desc steps(19) alternate infinite 5s, opDesc 0.4s alternate infinite;
          animation: desc steps(19) alternate infinite 5s, opDesc 0.4s alternate infinite;
  white-space: nowrap;
  border-right: 1px solid #f9004d;
}
@-webkit-keyframes desc {
  to {
    width: 390px;
  }
}
@keyframes desc {
  to {
    width: 390px;
  }
}
@-webkit-keyframes opDesc {
  to {
    border-right: 1px solid rgba(0, 0, 0, 0);
  }
}
@keyframes opDesc {
  to {
    border-right: 1px solid rgba(0, 0, 0, 0);
  }
}
@media screen and (max-width: 575px) {
  @-webkit-keyframes desc {
    to {
      width: 260px;
      font-size: 20px;
    }
  }
  @keyframes desc {
    to {
      width: 260px;
      font-size: 20px;
    }
  }
}
main .home .description h2 {
  font-weight: bold;
  font-size: 48px;
}
@media screen and (max-width: 575px) {
  main .home .description h2 {
    font-size: 40px;
  }
}
main .home .description > button {
  height: 50px;
  width: 195px;
  background: linear-gradient(to right, rgb(247, 30, 6), rgb(239, 9, 103));
  font-size: 21px;
  transition: 0.4s;
}
main .home .description > button:hover > span {
  background: rgba(255, 255, 255, 0.286);
}
main .about .info > figure {
  position: relative;
  display: flex;
}
main .about .info > figure::before {
  content: "";
  display: flex;
  width: 350px;
  height: 350px;
  border: 20px solid red;
  background-color: #463333;
  position: absolute;
  top: 0.5%;
  left: -1.9%;
  z-index: -9;
  margin-top: 34px;
}
main .about .info > figure::after {
  content: "";
  display: flex;
  width: 350px;
  height: 350px;
  border: 20px solid red;
  background-color: #463333;
  position: absolute;
  bottom: -1.3%;
  right: -2%;
  z-index: -7;
  margin-top: 34px;
}
main .about .info > figure > img {
  -o-object-fit: contain;
     object-fit: contain;
}
main .about .info .txt > h2 {
  font-family: fonts, sans-serif;
  text-transform: capitalize;
  font-size: 46px;
  font-weight: 700;
  color: #463333;
}
main .about .info .txt > p {
  font-family: fonts, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: rgb(139, 132, 128);
}
main .about .info .txt > ul > li > span:nth-of-type(1) {
  color: black;
  font-size: 15px;
  font-weight: 600;
  width: 130px;
}
main .about .info .txt > ul > li > h1,
main .about .info .txt > ul > li > span:nth-of-type(2) {
  color: rgb(139, 132, 128);
  width: calc(100% - 130px);
  font-size: 15px;
}
main .about .info .txt .social > ul {
  background-image: linear-gradient(to right bottom, rgb(247, 30, 6), rgb(239, 9, 103));
}
main .about .info .txt .social > ul > li {
  list-style-type: none;
}
main .about .info .txt .social > ul > li > a {
  color: black;
  font-size: 30px;
  cursor: pointer;
  transition: 0.4s;
}
main .about .info .txt .social > ul > li > a:hover {
  color: rgba(9, 9, 170, 0.877);
}
main .about .edAndExp > .educat > div,
main .about .edAndExp > .experience > div {
  border-left: 1px solid #f9004d;
  position: relative;
}
main .about .edAndExp > .educat > div > p,
main .about .edAndExp > .experience > div > p {
  color: #666;
}
main .about .edAndExp > .educat > div > i,
main .about .edAndExp > .experience > div > i {
  display: flex;
  position: absolute;
  top: 50%;
  left: -4%;
  transform: translate(0%, -50%);
  z-index: 5555555;
  font-size: 25px;
  color: white;
}
main .about .edAndExp > .educat > div::after,
main .about .edAndExp > .experience > div::after {
  content: "";
  display: flex;
  width: 45px;
  height: 45px;
  background-color: #f9004d;
  position: absolute;
  top: 50%;
  left: -4%;
  transform: translate(0, -50%);
  transition: 0.4s;
}
main .about .edAndExp > .educat > div:hover::after,
main .about .edAndExp > .experience > div:hover::after {
  border-radius: 50%;
  border: 1px solid #f9004d;
  background-color: #fff;
}
main .about .edAndExp > .educat > div:hover > i,
main .about .edAndExp > .experience > div:hover > i {
  color: #f9004d;
}
main .about .skill > .fullSkill {
  height: 15px;
}
main .about .skill > .fullSkill:nth-of-type(2) > .fillSkill {
  -webkit-animation-name: skill2;
          animation-name: skill2;
}
main .about .skill > .fullSkill:nth-of-type(3) > .fillSkill {
  -webkit-animation-name: skill3;
          animation-name: skill3;
}
main .about .skill > .fullSkill:nth-of-type(4) > .fillSkill {
  -webkit-animation-name: skill4;
          animation-name: skill4;
}
main .about .skill > .fullSkill:nth-of-type(5) > .fillSkill {
  -webkit-animation-name: skill4;
          animation-name: skill4;
}
main .about .skill > .fullSkill:nth-of-type(6) > .fillSkill {
  -webkit-animation-name: skill6;
          animation-name: skill6;
}
main .about .skill > .fullSkill > .fillSkill {
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgb(247, 30, 6), rgb(239, 9, 103));
  -webkit-animation: skill alternate forwards 4s 2s;
          animation: skill alternate forwards 4s 2s;
}
@-webkit-keyframes skill {
  to {
    width: 90%;
  }
}
@keyframes skill {
  to {
    width: 90%;
  }
}
@-webkit-keyframes skill2 {
  to {
    width: 70%;
  }
}
@keyframes skill2 {
  to {
    width: 70%;
  }
}
@-webkit-keyframes skill3 {
  to {
    width: 60%;
  }
}
@keyframes skill3 {
  to {
    width: 60%;
  }
}
@-webkit-keyframes skill4 {
  to {
    width: 50%;
  }
}
@keyframes skill4 {
  to {
    width: 50%;
  }
}
@-webkit-keyframes skill6 {
  to {
    width: 30%;
  }
}
@keyframes skill6 {
  to {
    width: 30%;
  }
}
main .service {
  background-color: rgb(244, 244, 244);
}
main .service .items .row1 > div {
  height: 290px;
  background-color: #fff;
  border-radius: 20px;
}
main .service .items .row1 > div > div:nth-of-type(1) {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(254, 217, 228);
  position: relative;
}
main .service .items .row1 > div > div:nth-of-type(1) > i {
  font-size: 25px;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .service .items .row1 > div:hover {
  background-image: linear-gradient(to right bottom, rgb(247, 30, 6), rgb(239, 9, 103));
}
main .service .items .row1 > div:hover > * {
  color: #fff;
}
main .service .items .row1 > div:hover > div:nth-of-type(1) {
  background-color: #fff;
}
main .portfolio > .projects > div > figure {
  cursor: pointer;
  transition: 0.4s;
  height: 240px;
  display: flex;
  position: relative;
}
main .portfolio > .projects > div > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 20px;
}
main .portfolio > .projects > div > figure:hover {
  transform: scale(1.2);
}
main .portfolio > .projects > div > figure > figcaption {
  background-color: rgba(104, 100, 100, 0.486);
  border-radius: 10px;
  position: absolute;
  bottom: 20%;
  left: 12%;
}
main .portfolio > .projects > div > figure > figcaption > ul > li {
  border-radius: 50%;
}
main .portfolio > .projects > div > figure > figcaption > ul > li i {
  color: #151616;
  border-radius: 50%;
}
main .portfolio > .projects > div > figure > figcaption > ul > li i:hover {
  transform: scale(1.1);
  display: flex;
  color: blue;
}
main .contact > div:nth-of-type(2) > div {
  background-color: #fffafa;
  border: 1px solid rgb(211, 204, 204);
  transition: 0.4s;
}
main .contact > div:nth-of-type(2) > div:hover {
  border: 1px solid #f9004d;
  transform: scale(1.1);
}
main .contact .contactForm > p {
  transform: translateX(-700px);
  -webkit-animation: pMove ease-out infinite forwards 20s;
          animation: pMove ease-out infinite forwards 20s;
}
@-webkit-keyframes pMove {
  to {
    transform: translateX(1300px);
  }
}
@keyframes pMove {
  to {
    transform: translateX(1300px);
  }
}
main .contact .contactForm .form-control-lg {
  border: 1px solid rgb(182, 173, 173);
  transition: 0.4s;
}
main .contact .contactForm .form-control-lg:hover {
  border: 1px solid red;
}
main .contact .contactForm button {
  background-image: linear-gradient(to right, rgb(247, 30, 6), rgb(239, 9, 103));
}
main .contact > footer > figure > img {
  border-radius: 50%;
}
main .contact > footer .social > ul > li {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
}
main .contact > footer .social > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border: 1px solid transparent;
  color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}
main .contact > footer .social > ul > li > a:hover {
  background-color: #fff;
  border: 1px solid red;
  color: #151616;
}
main .contact > footer .social > ul > li > a > i {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(30%, 30%);
  display: flex;
}/*# sourceMappingURL=master.css.map */