* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: fonts;
  src: url(../fonts/Poppins-Black.ttf);
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
main {
  .wrapper {
    @media screen and (max-width: 575px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .head {
      background-image: linear-gradient(
        to right,
        rgb(247, 30, 6),
        rgb(239, 9, 103)
      );
      height: 75px;
      display: flex;
      justify-content: space-between;
      position: relative;

      > .logo {
        height: 100%;
        // border: 1px solid blue;
        margin: 0;
        padding: 0;
        > img {
          height: 100%;
          border-radius: 50%;
        }
      }
      > .list {
        // @media screen and (min-width: 768px) {
        //   width: 100%;
        // }
        .listIcon {
          font-weight: bold;
          font-size: 4vw;
          cursor: pointer;
          >.submenu{
            position: absolute;
            top: 75px;
            left: 0px;
            border-top: 2px solid white;
            visibility: hidden;
            display: none;
            background-color: rgba(0, 0, 0, 0.653);
            >li{
              list-style-type: none;
              &:hover{
                background-color: rgba(245, 245, 245, 0.442);
                border-radius: 20px;
              }
              >a{
                text-decoration: none;
                text-transform: capitalize;
                color: #fff;
                font-family: fonts, sans-serif;
                font-size: 16px;

              }
            }
          }
          &:focus>.submenu{
            visibility: visible;
            display: block;
            // color: black;
          }
          > span {
            line-height: 60px;
            display: flex;
          }
          > span > i {
            font-size: 10vw;
          }
        }

        > .menu {
          > ul {
            > li {
              list-style-type: none;
              display: flex;
              &:nth-of-type(5) {
                width: 20%;
              }
              > a {
                text-decoration: none;
                color: white;
                font-family: fonts, sans-serif;
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
                transition: 0.4s;

                &:hover {
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
  .btnsLink>.btn{
    @for $i from 1 through 6{
      &:nth-of-type(#{$i})>a{
        top: ($i*5 + 40%);
      }
    }
    &:focus>a{
      background-color: #f9004d;
    }
  
    >a{
      width: 10px;height: 10px;
      border: 1px solid red;
      border-radius: 50%;
      position: absolute;
      display: flex; 
      cursor: pointer;
    z-index: 777;
      right: 2%;
      overflow: hidden;
    }
  }
  
  
  // Home page
  .home{
    position: absolute;
    top: 0;left: 0;

    >.img{
      @media screen and (max-width: 575px) {
       display: none;
      }
      position: relative;
      display: flex;
      padding-right: 100px;
      >div:nth-of-type(1){
        width: 200px;
        height: 220px;
        background-color: rgb(199, 73, 94);
        clip-path: circle(150px at 0 0);
        opacity: 0;
        animation: mov1 linear alternate infinite 1s;
      }
      @keyframes mov1 {
        to{
          opacity: 1;
        }
        
      }
      >div:nth-of-type(2){
        content: '';
        display: flex;
        position: absolute;
        top: -100px;
        left: -90px;
        width: 300px;
        height: 300px;
        clip-path: circle(150px at center);
        background-color: rgba(240, 125, 135, 0.683);
        opacity: 0;
        animation: mov2 alternate infinite 1s;
        
      }
      @keyframes mov2 {
        to{
          opacity: 1;
        }
        
      }
      >div:nth-of-type(3){
        content: '';
        display: flex;
        position: absolute;
        top: -200px;
        left: -200px;
        width: 500px;
        height: 500px;
        clip-path: circle(250px at center);
        background-color: rgba(237, 183, 188, 0.537);
        opacity: 0;
        animation: mov1 linear alternate infinite 1s;
      }
      @keyframes mov3 {
        to{
          opacity: 1;
        }
        
      }
      >img{
        background-color: #fff;
        height: 100%;
        display: flex;
        object-position: right bottom;
        // width: 25%;
        height: 100%;
        
      }
      
    }
    .description{
      margin-top: 140px;
      >*{
        font-family: fonts, sans-serif;
      }
      >h1{
        font-size: 32px;
        font-weight: 800;
        color: #f9004d;
        text-transform: capitalize;
        width: 0;
        overflow: hidden;
        animation: desc steps(19) alternate infinite 5s, opDesc .4s alternate infinite;
        white-space:nowrap;
        border-right: 1px solid #f9004d;
      }
      h2{
        font-weight: bold;
        font-size: 52px;
      }
      >button{
        height: 50px;
        width: 195px;
        background: linear-gradient(
          to right,
          rgb(247, 30, 6),
          rgb(239, 9, 103)
        );
        font-size: 21px;
        transition: .4s;
        
        &:hover>span{
          background: rgba(255, 255, 255, 0.286);
        }
      }
      @keyframes desc {
        to{
          width: 380px;
        }
      }
      @keyframes opDesc {
        to{
           border-right: 1px solid rgba(0, 0, 0, 0) ;
        }
        
      }
    }
  }
  .servicess {
    background-color: rgb(247, 247, 247);
    height: auto;
    > .top {
      > h2 {
        color: red;
        font-size: 16px;
      }
    }
    .items {
      .row1,
      .row2 {
        display: flex;
        // flex-wrap: nowrap;
      }
      .row1 > .item1 {
        height: 290px;
        // width: 300px;
        background-color: #fff;
        border: 1px solid gray;
        border-radius: 20px;

        > div:nth-of-type(1) {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: rgb(254, 217, 228);
          position: relative;
          > i {
            font-size: 25px;
            color: red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &:hover {
          background-image: linear-gradient(
            to right bottom,
            rgb(247, 30, 6),
            rgb(239, 9, 103)
          );
          > * {
            color: #fff;
          }
          > div:nth-of-type(1) {
            background-color: #fff;
          }
        }
      }
    }
  }

  // Services

  .services {
    background-color: rgb(247, 247, 247);

    > .top {
      > h2 {
        text-transform: uppercase;
        color: red;
        font-size: 18px;
        font-weight: 500;
      }
      > h3 {
        font-weight: bold;
        text-transform: capitalize;
        font-size: 46px;
        color: rgb(49, 49, 49);
      }
      > p {
        color: rgb(110, 114, 112);
      }
    }
    .servicesItem {
      background-color: red;
      // height: auto;
      .row1 > .items {
        height: 310px;
        // border: 1px solid red;
        // background-color: rgba(255, 255, 255, 0.803);
        // box-shadow: 0 0 10px 0.001px rgba(128, 128, 128, 0.524);
        border: 1px solid rgba(240, 239, 239, 0.502);
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        transition: 0.4s;
        &:hover {
          background-image: linear-gradient(
            to right bottom,
            rgb(247, 30, 6),
            rgb(239, 9, 103)
          );
          > div:nth-of-type(1) > div {
            background-color: #fff;
          }
          > .name,
          > .caption {
            color: #fff;
          }
        }
      }
      .row1 > .item1 {
        > .icon {
          > div {
            width: 80px;
            height: 80px;
            background-color: rgb(254, 217, 228);
            border-radius: 50%;
            position: relative;

            i {
              color: red;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 99;
              font-size: 30px;
            }
          }
        }
        > div:nth-of-type(2) {
          text-transform: capitalize;
          font-size: 22px;
          font-weight: 600;
          font-family: fonts, sans-serif;
          transition: 0.4s;
        }
        > div:nth-of-type(3) {
          color: rgb(110, 114, 112);
          font-family: fonts, sans-serif;
          transition: 0.4s;
        }
      }
    }
  }
}
